$blue: #524B9F !default;

.sidebar-dark .nav-item .nav-link i {
    color: black
}

.sidebar-dark .nav-item .nav-link i:hover {
    color: black
}

.sidebar-dark .nav-item .nav-link {
    color: black
}

.sidebar-dark .nav-item .nav-link:hover {
    color: black
}

.table {
    color: black;
}

.sidebar .nav-item .nav-link {
    padding: 5px 1rem;
}